{:paths ["pages" ".clam/cp"]
 :deps {kepler16/clam {:mvn/version "4.0.15"}
        uix/core {:git/url "https://github.com/roman01la/uix.git"
                  :deps/root "core"
                  :sha "a4a7e0191f3c84a48b7de14d8f98bcfa4a9c82c3"}
        uix/dom {:git/url "https://github.com/roman01la/uix.git"
                 :deps/root "dom"
                 :sha "a4a7e0191f3c84a48b7de14d8f98bcfa4a9c82c3"}}

 :aliases
 {:dev {;;:replace-deps {kepler16/clam {:local/root ".."}}
        :extra-deps {cider/cider-nrepl {:mvn/version "0.25.8"}
                     refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
                     binaryage/devtools {:mvn/version "1.0.2"}}}}}
