{:mvn/repos {"github" {:url "https://maven.pkg.github.com/kepler16/*"}}
 :deps {thheller/shadow-cljs {:mvn/version "2.11.6"}
        cljs-bean/cljs-bean {:mvn/version "1.6.0"}
        kepler16/firebase {:mvn/version "0.0.1"}
        kepler16/clam {:mvn/version "0.0.2"}
        cider/cider-nrepl {:mvn/version "0.25.4"}
        refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
        binaryage/devtools {:mvn/version "1.0.2"}}
 :aliases
 {:dev {:extra-deps {kepler16/firebase {:local/root "../../libs/firebase"}
                     kepler16/clam {:local/root "../../libs/clam"}}}}}
